<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALC User Manager | {{title}} </title>
    <link rel="stylesheet" href="/bower_components/bulma/css/bulma.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
	 <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
	  <section class="hero is-info">
	    <div class="hero-body">
	      <div class="container">
	        <h1 class="title">
				  <a href="/users">ALC User Manager</a>
	        </h1>
	        <h2 class="subtitle">
	          By <a href="https://www.twitter.com/inidaname">iNidaName</a>
	        </h2>
	      </div>
	    </div>
	  </section>
	  <section class="section">
		  {{{body}}}
	  </section>
	  <script src="../bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
  </body>
</html>
